# 50 Years of Pop Music: A Lyrical Analysis

- Class activity 3, 9/12/2017 
- Data courtesy of Kaylin Walker: http://kaylinwalker.com/50-years-of-pop-music/

## (1) Read in the spreadsheet file as a DataFrame
- Create a DataFrame called `songs` from the spreadsheet. 
- You will likely run into an encoding error. Who can figure out the correct encoding? 
- Once successfully loaded, explore the DF. Use the following methods: `.head()`, `.tail()`, `.info()`, `.describe()`. 
- What are the column labels and row indexes?
- How to improve organization?

In [1]:
import pandas as pd
songs = pd.read_csv('billboard_lyrics_1964-2015.csv', encoding='ISO8859')
    # this encoding is the Windows version of ASCII, or ISO-8859
    # can find using using `file [file name]` in command line,
        # or by trying to open in text editor & trying to changing the encoding

songs.head()     # first five entries (default)

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

In [2]:
songs.tail()     # last five entries (default)

,Rank,Song,Artist,Year,Lyrics,Source
5095,96,el perdon,nicky jam and enrique iglesias,2015,enrique iglesias dime si es verdad me dijeron ...,3.0
5096,97,she knows,neyo featuring juicy j,2015,NaN,NaN
5097,98,night changes,one direction,2015,going out tonight changes into something red ...,1.0
5098,99,back to back,drake,2015,oh man oh man oh man not againyeah i learned ...,1.0
5099,100,how deep is your love,calvin harris and disciples,2015,i want you to breathe me in let me be your ai...,1.0

In [3]:
songs.info()     # info about the data itself

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5100 entries, 0 to 5099
Data columns (total 6 columns):
Rank      5100 non-null int64
Song      5100 non-null object
Artist    5100 non-null object
Year      5100 non-null int64
Lyrics    4913 non-null object
Source    4913 non-null float64
dtypes: float64(1), int64(2), object(3)
memory usage: 239.1+ KB

In [4]:
songs.describe()     # basic statistics on numeric columns

            Rank         Year       Source
count  5100.0000  5100.000000  4913.000000
mean     50.5000  1990.000000     1.400977
std      28.8689    14.721045     0.890375
min       1.0000  1965.000000     1.000000
25%      25.7500  1977.000000     1.000000
50%      50.5000  1990.000000     1.000000
75%      75.2500  2003.000000     1.000000
max     100.0000  2015.000000     5.000000

## (2) Reorganize and clean up
- Rearrange the columns so that they are ordered: Year - Rank - Artist - Song - Lyrics. 
- Get rid of Source column. 
- What about the index?

In [5]:
songs2 = songs[['Year', 'Rank', 'Artist', 'Song', 'Lyrics']]
# create new DataFrame with Year, Rank, Artist, Song, Lyrics data in that order

## (3) Sanity check
- Is the data complete? 
  - Are there really 50 years represented?
      - yes
  - Does every year have all 100 entries? 
      - yes
- Any missing or anomalous data? How to address them?
    - approx. 200 songs are missing lyrics

In [6]:
# len(set(song['Year']))      # works, but not Pandas way
print("# years:", songs2['Year'].unique().size)
songs2['Year'].unique()

# years: 51

array([1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975,
       1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015])

In [7]:
songs['Rank'].value_counts().sort_index()

1      51
2      51
3      51
4      51
5      51
6      51
7      51
8      51
9      51
10     51
11     51
12     51
13     51
14     51
15     51
16     51
17     51
18     51
19     51
20     51
21     51
22     51
23     51
24     51
25     51
26     51
27     51
28     51
29     51
30     51
       ..
71     51
72     51
73     51
74     51
75     51
76     51
77     51
78     51
79     51
80     51
81     51
82     51
83     51
84     51
85     51
86     51
87     51
88     51
89     51
90     51
91     51
92     51
93     51
94     51
95     51
96     51
97     51
98     51
99     51
100    51
Name: Rank, Length: 100, dtype: int64

## (4) Accessing routines
- How to get songs from year 1965 vs. songs from year 2015?
- How to get number-1 hits only?
- How to get Madonna songs only?
- Madonna songs that are top 10? Year 2000 or later?

In [8]:
# METHOD 1
# oldies = songs.loc[songs['Year']==1965,:]
# newsies = songs.loc[songs['Year']==2015,:]

# METHOD 2
newfilter = songs['Year'] == 2015
newsies = songs.loc[newfilter,:]

oldfilter = songs['Year'] == 1965
oldies = songs.loc[oldfilter,:]

newsies.head()
oldies.head()

# METHOD 3
# newsies = songs.iloc[-100:, :]
# newsies
# oldies = songs.iloc[:100, :]
# oldies

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

In [9]:
num1 = songs2[songs['Rank'] == 1]
num1

,Year,Rank,Artist,Song,Lyrics
0,1965,1,sam the sham and the pharaohs,wooly bully,sam the sham miscellaneous wooly bully wooly b...
100,1966,1,ssgt barry sadler,ballad of the green berets,NaN
200,1967,1,lulu,to sir with love,those school girl days of telling tales and b...
300,1968,1,the beatles,hey jude,hey jude dont make it bad take a sad song and ...
400,1969,1,the archies,sugar sugar,sugar honey honey you are my candy girl and y...
500,1970,1,simon garfunkel,bridge over troubled water,when youre weary feeling small when tears are ...
600,1971,1,three dog night,joy to the world,jeremiah was a bullfrog was a good friend of ...
700,1972,1,roberta flack,the first time ever i saw your face,the first time ever i saw your face i thought...
800,1973,1,tony orlando and dawn,tie a yellow ribbon round the ole oak tree,im comin home ive done my time now ive got to ...
900,1974,1,barbra streisand,the way we were,memories light the corners of my mind misty w...
1000,1975,1,captain tennille,love will keep us together,love love will keep us together think of me ba...
1100,1976,1,wings,silly love songs,youd think that people would have had enough ...
1200,1977,1,rod stewart,tonights the night gonna be alright,stay away from my window stay away from my ba...
1300,1978,1,andy gibb,shadow dancing,you got me looking at that heaven in your eye...
1400,1979,1,the knack,my sharona,ooh my little pretty one my pretty one when y...
1500,1980,1,blondie,call me,color me your color baby color me your car co...
1600,1981,1,kim carnes,bette davis eyes,her hair is harlow gold her lips are sweet su...
1700,1982,1,olivia newtonjohn,physical,im saying all the things that i know youll li...
1800,1983,1,the police,every breath you take,every breath you take and every move you make...
1900,1984,1,prince,when doves cry,dig if you will the picture of you and i enga...
2000,1985,1,wham featuring george michael,careless whisper,time can never mend the careless whisper of a...
2100,1986,1,dionne and friends dionne warwick gladys knigh...,thats what friends are for,NaN
2200,1987,1,the bangles,walk like an egyptian,all the old paintings on the tombs they do th...
2300,1988,1,george michael,faith,well i guess it would be nice if i could touc...
2400,1989,1,chicago,look away,when you called me up this mornin told me bou...
2500,1990,1,wilson phillips,hold on,i know theres pain why do lock yourself up in...
2600,1991,1,bryan adams,everything i do i do it for you,look into my eyes you will see what you mean ...
2700,1992,1,boyz ii men,end of the road,girl you know we belong together i dont have ...
2800,1993,1,whitney houston,i will always love you,if i should stay ill only be in your way so i...
2900,1994,1,ace of base,the sign,i i gotta new life you would hardly recognize...
3000,1995,1,coolio featuring lv,gangstas paradise,as i walk through the valley of the shadow of...
3100,1996,1,los del r'io,macarena bayside boys mix,dale a tu cuerpo alegria macarena que tu cuer...
3200,1997,1,elton john,something about the way you look tonight cand...,NaN
3300,1998,1,next,too close,i wonder if she could tell im hard right now ...
3400,1999,1,cher,believe,no matter how hard i try you keep pushing me ...
3500,2000,1,faith hill,breathe,i can feel the magic floating in the air bein...
3600,2001,1,lifehouse,hanging by a moment,im desperate for changing starving for truth ...
3700,2002,1,nickelback,how you remind me,never made it as a wise man i couldnt cut it ...
3800,2003,1,50 cent,in da club,go go go go go go go shawty its your birthday...
3900,2004,1,usher featuring lil jon and ludacris,yeah,peace up atown down yeah ok lil jonyeah yeah ...
4000,2005,1,mariah carey,we belong together,ooh ooh sweet love yeahi didnt mean it when i...
4100,2006,1,daniel powter,bad day,where is the moment when we needed the most y...
4200,2007,1,beyonce,irreplaceable,to the left to the left everything you own in ...
4300,2008,1,flo rida featuring tpain,low,shawty had them apple bottom jeans jeans boot...
4400,2009,1,the black eyed peas,boom boom pow,gotta getget gotta getget gotta getget gotta g...
4500,2010,1,keha,tik tok,wake up in the morning feeling like p diddy h...
4600,2011,1,adele,rolling in the deep,theres a fire starting in my heart reaching a...
4700,2012,1,gotye featuring kimbra,somebody that i used to know,gotye now and then i think of when we were to...
4800,2013,1,macklemore and ryan lewis featuring wanz,thrift shop,hook wanz im gonna pop some tags only got twe...
4900,2014,1,pharrell williams,happy,it might seem crazy what im about to say suns...
5000,2015,1,mark ronson featuring bruno mars,uptown funk,this hit that ice cold michelle pfeiffer that...

In [10]:
songs2.loc[songs2['Artist']=='madonna',:]

,Year,Rank,Artist,Song,Lyrics
1934,1984,35,madonna,borderline,something in the way you love me wont let me ...
1965,1984,66,madonna,lucky star,you must be my lucky star cause you shine on ...
1978,1984,79,madonna,holiday,holiday celebrate holiday celebrateif we took...
2001,1985,2,madonna,like a virgin,i made it through the wilderness somehow i ma...
2008,1985,9,madonna,crazy for you,swaying room as the music starts strangers ma...
2057,1985,58,madonna,material girl,some boys kiss me some boys hug me i think th...
2080,1985,81,madonna,angel,why am i standing on a cloud every time youre...
2097,1985,98,madonna,dress you up,youve got style thats what all the girls say ...
2128,1986,29,madonna,papa dont preach,
2134,1986,35,madonna,live to tell,i have a tale to tell sometimes it gets so ha...
2175,1986,76,madonna,true blue,ive had other guys ive looked into their eyes...
2229,1987,30,madonna,open your heart,watch outi see you on the street and you walk...
2241,1987,42,madonna,whos that girl,whos that girl whos that girlwhen you see her...
2245,1987,46,madonna,causing a commotion,ive got the moves baby youve got the motion i...
2257,1987,58,madonna,la isla bonita,como puede ser verdadlast night i dreamt of s...
2424,1989,25,madonna,like a prayer,life is a mystery everyone must stand alone i...
2454,1989,55,madonna,express yourself,baby bbbbaby come on girls you believe in lov...
2458,1989,59,madonna,cherish,so tired of broken hearts and losing at this ...
2504,1990,5,madonna,vogue,strike a pose strike a pose vogue vogue vogue...
2620,1991,21,madonna,justify my love,i want to kiss you in paris i want to hold yo...
2720,1992,21,madonna,this used to be my playground,this used to be my playground this used to be...
2865,1993,66,madonna,deeper and deeper,deeper and deeper and deeper and deeper sweet...
2866,1993,67,madonna,rain,i feel it its coming rainfeel it on my finger...
2912,1994,13,madonna,ill remember,hmm hmm say goodbye not knowing when the trut...
2983,1994,84,madonna,secret,things havent been the same since you came in...
3007,1995,8,madonna,take a bow,take a bow the night is over this masquerade ...
3070,1995,71,madonna,secret,things havent been the same since you came in...
3150,1996,51,madonna,youll see,you think that i cant live without your love ...
3286,1997,87,madonna,dont cry for me argentina,it wont be easy youll think it strange when i...
3298,1997,99,madonna,you must love me,where do we go from here this isnt where we i...
3331,1998,32,madonna,frozen,you only see what your eyes want to see how c...
3374,1998,75,madonna,ray of light,zephyr in the sky at night i wonder do my tea...
3516,2000,17,madonna,music,hey mister dj put a record on i want to dance...
3633,2001,34,madonna,dont tell me,dont tell me to stop tell the rain not to dro...
4190,2006,91,madonna,hung up,time goes by so slowly time goes by so slowly...

In [22]:
songs2.loc[(songs2['Artist']=='madonna') & (songs2['Year']>=2000),:]     # Madonna songs year 2000 or later

,Year,Rank,Artist,Song,Lyrics
3516,2000,17,madonna,music,hey mister dj put a record on i want to dance...
3633,2001,34,madonna,dont tell me,dont tell me to stop tell the rain not to dro...
4190,2006,91,madonna,hung up,time goes by so slowly time goes by so slowly...

## (5) Who are top artists?
- How many artists are represented?
- Which artists produced most hits?
- How many artists are one-hit wonders?

In [33]:
songs2['Artist'].unique().size     # how many artists are represented?

2473

In [38]:
songs2['Artist'].value_counts()     # which artists produced most hits? also, how many hits per artist?

madonna                                            35
elton john                                         26
mariah carey                                       25
michael jackson                                    22
stevie wonder                                      22
janet jackson                                      22
rihanna                                            19
taylor swift                                       19
whitney houston                                    19
pink                                               17
kelly clarkson                                     17
the beatles                                        17
britney spears                                     16
the black eyed peas                                16
chicago                                            15
katy perry                                         14
usher                                              14
rod stewart                                        14
aretha franklin                                    14
r kelly                                            13
kool  the gang                                     13
phil collins                                       13
the rolling stones                                 13
maroon 5                                           13
boyz ii men                                        13
olivia newtonjohn                                  12
aerosmith                                          12
billy joel                                         12
the temptations                                    12
beyonce                                            12
                                                   ..
thompson square                                     1
rome                                                1
meek mill featuring chris brown and nicki minaj     1
becky g                                             1
five stairsteps                                     1
harold melvin  the blue notes                       1
the red jumpsuit apparatus                          1
kid cudi                                            1
michael jackson and paul mccartney                  1
lil wayne featuring bobby valentino                 1
jayz featuring amil and ja rule                     1
sir mixalot                                         1
tommy tutone                                        1
sean kingston and justin bieber                     1
big sean featuring drake                            1
phoebe snow                                         1
patti labelle and michael mcdonald                  1
paul stookey                                        1
jaheim featuring next                               1
maroon 5 featuring wiz khalifa                      1
cobra starship featuring leighton meester           1
paul mccartney and michael jackson                  1
deon jackson                                        1
frank mills                                         1
mariah carey featuring miguel                       1
d4l                                                 1
morris albert                                       1
candlebox                                           1
camron featuring juelz santana                      1
carly simon  james taylor                           1
Name: Artist, Length: 2473, dtype: int64

In [43]:
songs2['Artist'].value_counts()[songs2['Artist'].value_counts() == 1].size     # how many artists only had one hit?

1628

## (6) Create another column: lyric length in word count
- All symbols have been removed from lyrics
- So, `.split()` works as a rudimentary tokenizer

In [75]:
songs.fillna('', inplace=True)
songs['Lyric Length'] = [len(x.split()) for x in songs['Lyrics']]
songs.head()

,Rank,Song,Artist,Year,Lyrics,Source,Lyric Length,Tokens,Toks_2
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3,125,"[sam, the, sham, miscellaneous, wooly, bully, ...","[sam, the, sham, miscellaneous, wooly, bully, ..."
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1,204,"[sugar, pie, honey, bunch, you, know, that, i,...","[sugar, pie, honey, bunch, you, know, that, i,..."
2,3,i cant get no satisfaction,the rolling stones,1965,,1,0,[],[]
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1,152,"[when, i, woke, up, this, morning, you, were, ...","[when, i, woke, up, this, morning, you, were, ..."
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1,232,"[you, never, close, your, eyes, anymore, when,...","[you, never, close, your, eyes, anymore, when,..."

In [74]:
def tokenize(txt):
    return txt.split()

songs['Tokens'] = songs['Lyrics'].map(tokenize)
songs.head()

,Rank,Song,Artist,Year,Lyrics,Source,Lyric Length,Tokens,Toks_2
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3,125,"[sam, the, sham, miscellaneous, wooly, bully, ...","[sam, the, sham, miscellaneous, wooly, bully, ..."
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1,204,"[sugar, pie, honey, bunch, you, know, that, i,...","[sugar, pie, honey, bunch, you, know, that, i,..."
2,3,i cant get no satisfaction,the rolling stones,1965,,1,0,[],[]
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1,152,"[when, i, woke, up, this, morning, you, were, ...","[when, i, woke, up, this, morning, you, were, ..."
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1,232,"[you, never, close, your, eyes, anymore, when,...","[you, never, close, your, eyes, anymore, when,..."

In [73]:
songs['Toks_2'] = songs['Lyrics'].map(lambda x: x.split())
songs.head()

,Rank,Song,Artist,Year,Lyrics,Source,Lyric Length,Tokens,Toks_2
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3,125,"[sam, the, sham, miscellaneous, wooly, bully, ...","[sam, the, sham, miscellaneous, wooly, bully, ..."
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1,204,"[sugar, pie, honey, bunch, you, know, that, i,...","[sugar, pie, honey, bunch, you, know, that, i,..."
2,3,i cant get no satisfaction,the rolling stones,1965,,1,0,[],[]
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1,152,"[when, i, woke, up, this, morning, you, were, ...","[when, i, woke, up, this, morning, you, were, ..."
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1,232,"[you, never, close, your, eyes, anymore, when,...","[you, never, close, your, eyes, anymore, when,..."

In [72]:
del songs['Toks_2']
songs.head()

,Rank,Song,Artist,Year,Lyrics,Source,Lyric Length,Tokens
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3,125,"[sam, the, sham, miscellaneous, wooly, bully, ..."
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1,204,"[sugar, pie, honey, bunch, you, know, that, i,..."
2,3,i cant get no satisfaction,the rolling stones,1965,,1,0,[]
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1,152,"[when, i, woke, up, this, morning, you, were, ..."
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1,232,"[you, never, close, your, eyes, anymore, when,..."

In [79]:
def get_avg_len(toks):
    lens = [len(t) for t in toks]
    if len(toks) == 0:
        return 0
    else:
        return sum(lens)/len(lens)

songs['Avg Word Len'] = songs['Tokens'].map(get_avg_len)
songs.head()

,Rank,Song,Artist,Year,Lyrics,Source,Lyric Length,Tokens,Toks_2,Avg Word Len
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3,125,"[sam, the, sham, miscellaneous, wooly, bully, ...","[sam, the, sham, miscellaneous, wooly, bully, ...",4.280000
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1,204,"[sugar, pie, honey, bunch, you, know, that, i,...","[sugar, pie, honey, bunch, you, know, that, i,...",3.872549
2,3,i cant get no satisfaction,the rolling stones,1965,,1,0,[],[],0.000000
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1,152,"[when, i, woke, up, this, morning, you, were, ...","[when, i, woke, up, this, morning, you, were, ...",3.546053
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1,232,"[you, never, close, your, eyes, anymore, when,...","[you, never, close, your, eyes, anymore, when,...",4.051724

## (7) Filling in missing values
- We really need to take care of the missing lyric values. 
- What are good strategies? Considerations?

In [80]:
# see above

## (8) A detour: text processing basics
- NLTK functions
- How to word-tokenize
- How to sentence-tokenize
- Frequency distribution
- Type-token ratio

In [81]:
import nltk
nltk.corpus.brown.words()

['The', 'Fulton', 'County', 'Grand', 'Jury', 'said', ...]

## (9) 50 years apart: songs from 1965 vs. 2015
- Let's create two corpora of 1965 lyrics vs. 2015 lyrics
- Good ways to highlight differences?

In [15]:
# Your code here

## (10) A different take: multi-level index
- Alternative organization: use year-and-rank combination as index 
- Create a copy of `songs` as `songs2` DataFrame
- How does accessing work in this DF?

In [16]:
# Your code here

## (11) Discussion: data curation method, presentation
- How did Walker collect her song lyrics data?
- What tools did she use?
- How successful was her effort?
- How did she present her work, and what are your thoughts?

Your notes here in markdown