# 50 Years of Pop Music: A Lyrical Analysis

- Class activity 3, 9/12/2017 
- Data courtesy of Kaylin Walker: http://kaylinwalker.com/50-years-of-pop-music/

## (1) Read in the spreadsheet file as a DataFrame
- Create a DataFrame called `songs` from the spreadsheet. 
- You will likely run into an encoding error. Who can figure out the correct encoding? 
- Once successfully loaded, explore the DF. Use the following methods: `.head()`, `.tail()`, `.info()`, `.describe()`. 
- What are the column labels and row indexes?
- How to improve organization?

In [1]:
import pandas as pd
filepath = 'billboard_lyrics_1964-2015.csv'
file = pd.read_csv(filepath, encoding="cp1252")
file.head()

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

In [2]:
file.tail()

,Rank,Song,Artist,Year,Lyrics,Source
5095,96,el perdon,nicky jam and enrique iglesias,2015,enrique iglesias dime si es verdad me dijeron ...,3.0
5096,97,she knows,neyo featuring juicy j,2015,NaN,NaN
5097,98,night changes,one direction,2015,going out tonight changes into something red ...,1.0
5098,99,back to back,drake,2015,oh man oh man oh man not againyeah i learned ...,1.0
5099,100,how deep is your love,calvin harris and disciples,2015,i want you to breathe me in let me be your ai...,1.0

In [3]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5100 entries, 0 to 5099
Data columns (total 6 columns):
Rank      5100 non-null int64
Song      5100 non-null object
Artist    5100 non-null object
Year      5100 non-null int64
Lyrics    4913 non-null object
Source    4913 non-null float64
dtypes: float64(1), int64(2), object(3)
memory usage: 239.1+ KB

In [4]:
file.describe()

            Rank         Year       Source
count  5100.0000  5100.000000  4913.000000
mean     50.5000  1990.000000     1.400977
std      28.8689    14.721045     0.890375
min       1.0000  1965.000000     1.000000
25%      25.7500  1977.000000     1.000000
50%      50.5000  1990.000000     1.000000
75%      75.2500  2003.000000     1.000000
max     100.0000  2015.000000     5.000000

## (2) Reorganize and clean up
- Rearrange the columns so that they are ordered: Year - Rank - Artist - Song - Lyrics. 
- Get rid of Source column. 
- What about the index?

In [22]:
file = file[["Year", "Rank", "Artist", "Song", "Lyrics"]]
file.head(16)

,Year,Rank,Artist,Song,Lyrics
0,1965,1,sam the sham and the pharaohs,wooly bully,sam the sham miscellaneous wooly bully wooly b...
1,1965,2,four tops,i cant help myself sugar pie honey bunch,sugar pie honey bunch you know that i love yo...
2,1965,3,the rolling stones,i cant get no satisfaction,
3,1965,4,we five,you were on my mind,when i woke up this morning you were on my mi...
4,1965,5,the righteous brothers,youve lost that lovin feelin,you never close your eyes anymore when i kiss...
5,1965,6,petula clark,downtown,when youre alone and life is making you lonel...
6,1965,7,the beatles,help,help i need somebody help not just anybody hel...
7,1965,8,hermans hermits,cant you hear my heart beat,carterlewis every time i see you lookin my way...
8,1965,9,elvis presley,crying in the chapel,you saw me crying in the chapel the tears i s...
9,1965,10,the temptations,my girl,ive got sunshine on a cloudy day when its cold...
10,1965,11,the beach boys,help me rhonda,well since she put me down i ve been out doin ...
11,1965,12,roger miller,king of the road,trailer for sale or rent rooms to let fifty c...
12,1965,13,jewel akens,the birds and the bees,let me tell ya bout the birds and the bees and...
13,1965,14,mel carter,hold me thrill me kiss me,hold me hold me never let me go until youve t...
14,1965,15,junior walker the all stars,shotgun,i said Ì¢shotgun shoot em for he runs now do t...
15,1965,16,sonny cher,i got you babe,they say were young and we dont know we wont f...

In [32]:
file["Lyrics"][20]
file.iloc[48, 4]
file.loc[48]
file.loc[48, "Lyrics"]

'well east coast girls are hip i really dig those styles they wear and the southern girls with the way they talk they knock me out when im down there the midwest farmers daughter really makes you feel alright and the northern girls with the way they kiss they keep their boyfriends warm at night i wish they all could be california wish they all could be california i wish they all could be california girls the west coast has the sunshine and the girls all get so tan i dig a french bikini on hawiian island dollsby a palm tree in the sand i been all round this great big world and i seen all kinds of girls yeah but i couldnt wait to get back in the states back to the cutest girls in the world i wish they all could be california wish they all could be california i wish they all could be california girls i wish they all could be california wish they all could be california i wish they all could be california girls'

## (3) Sanity check
- Is the data complete? 
  - Are there really 50 years represented?
  - Does every year have all 100 entries? 
- Any missing or anomalous data? How to address them?

In [44]:
#len(set(file["Year"])) #Works, but not pandas way

#set(file["Year"])
for yr in set(file["Year"]):
    count = 0
    for foo in file["Year"]:
        if foo == yr:
            count+=1
    print(yr,":",count)

1965 : 100
1966 : 100
1967 : 100
1968 : 100
1969 : 100
1970 : 100
1971 : 100
1972 : 100
1973 : 100
1974 : 100
1975 : 100
1976 : 100
1977 : 100
1978 : 100
1979 : 100
1980 : 100
1981 : 100
1982 : 100
1983 : 100
1984 : 100
1985 : 100
1986 : 100
1987 : 100
1988 : 100
1989 : 100
1990 : 100
1991 : 100
1992 : 100
1993 : 100
1994 : 100
1995 : 100
1996 : 100
1997 : 100
1998 : 100
1999 : 100
2000 : 100
2001 : 100
2002 : 100
2003 : 100
2004 : 100
2005 : 100
2006 : 100
2007 : 100
2008 : 100
2009 : 100
2010 : 100
2011 : 100
2012 : 100
2013 : 100
2014 : 100
2015 : 100

## (4) Accessing routines
- How to get songs from year 1965 vs. songs from year 2015?
- How to get number-1 hits only?
- How to get Madonna songs only?
- Madonna songs that are top 10? Year 2000 or later?

In [60]:
oldfilter = file["Year"] == 1965
newfilter = file["Year"] == 2015
"""Creates a filter that will only return songs from these years when doing file.loc"""
oldsongs = file.loc[oldfilter, :]
#print(oldsongs)
newsongs = file.loc[newfilter, :]
#print(newsongs)

In [73]:
file[file["Artist"] == 'madonna']

,Year,Rank,Artist,Song,Lyrics
1934,1984,35,madonna,borderline,something in the way you love me wont let me ...
1965,1984,66,madonna,lucky star,you must be my lucky star cause you shine on ...
1978,1984,79,madonna,holiday,holiday celebrate holiday celebrateif we took...
2001,1985,2,madonna,like a virgin,i made it through the wilderness somehow i ma...
2008,1985,9,madonna,crazy for you,swaying room as the music starts strangers ma...
2057,1985,58,madonna,material girl,some boys kiss me some boys hug me i think th...
2080,1985,81,madonna,angel,why am i standing on a cloud every time youre...
2097,1985,98,madonna,dress you up,youve got style thats what all the girls say ...
2128,1986,29,madonna,papa dont preach,
2134,1986,35,madonna,live to tell,i have a tale to tell sometimes it gets so ha...
2175,1986,76,madonna,true blue,ive had other guys ive looked into their eyes...
2229,1987,30,madonna,open your heart,watch outi see you on the street and you walk...
2241,1987,42,madonna,whos that girl,whos that girl whos that girlwhen you see her...
2245,1987,46,madonna,causing a commotion,ive got the moves baby youve got the motion i...
2257,1987,58,madonna,la isla bonita,como puede ser verdadlast night i dreamt of s...
2424,1989,25,madonna,like a prayer,life is a mystery everyone must stand alone i...
2454,1989,55,madonna,express yourself,baby bbbbaby come on girls you believe in lov...
2458,1989,59,madonna,cherish,so tired of broken hearts and losing at this ...
2504,1990,5,madonna,vogue,strike a pose strike a pose vogue vogue vogue...
2620,1991,21,madonna,justify my love,i want to kiss you in paris i want to hold yo...
2720,1992,21,madonna,this used to be my playground,this used to be my playground this used to be...
2865,1993,66,madonna,deeper and deeper,deeper and deeper and deeper and deeper sweet...
2866,1993,67,madonna,rain,i feel it its coming rainfeel it on my finger...
2912,1994,13,madonna,ill remember,hmm hmm say goodbye not knowing when the trut...
2983,1994,84,madonna,secret,things havent been the same since you came in...
3007,1995,8,madonna,take a bow,take a bow the night is over this masquerade ...
3070,1995,71,madonna,secret,things havent been the same since you came in...
3150,1996,51,madonna,youll see,you think that i cant live without your love ...
3286,1997,87,madonna,dont cry for me argentina,it wont be easy youll think it strange when i...
3298,1997,99,madonna,you must love me,where do we go from here this isnt where we i...
3331,1998,32,madonna,frozen,you only see what your eyes want to see how c...
3374,1998,75,madonna,ray of light,zephyr in the sky at night i wonder do my tea...
3516,2000,17,madonna,music,hey mister dj put a record on i want to dance...
3633,2001,34,madonna,dont tell me,dont tell me to stop tell the rain not to dro...
4190,2006,91,madonna,hung up,time goes by so slowly time goes by so slowly...

## (5) Who are top artists?
- How many artists are represented?
- Which artists produced most hits?
- How many artists are one-hit wonders?

In [63]:
len(file["Artist"].unique())

2473

## (6) Create another column: lyric length in word count
- All symbols have been removed from lyrics
- So, `.split()` works as a rudimentary tokenizer

In [9]:
# Your code here

## (7) Filling in missing values
- We really need to take care of the missing lyric values. 
- What are good strategies? Considerations?

In [10]:
# Your code here

## (8) A detour: text processing basics
- NLTK functions
- How to word-tokenize
- How to sentence-tokenize
- Frequency distribution
- Type-token ratio

In [11]:
# Your code here

## (9) 50 years apart: songs from 1965 vs. 2015
- Let's create two corpora of 1965 lyrics vs. 2015 lyrics
- Good ways to highlight differences?

In [12]:
# Your code here

## (10) A different take: multi-level index
- Alternative organization: use year-and-rank combination as index 
- Create a copy of `songs` as `songs2` DataFrame
- How does accessing work in this DF?

In [13]:
# Your code here

## (11) Discussion: data curation method, presentation
- How did Walker collect her song lyrics data?
- What tools did she use?
- How successful was her effort?
- How did she present her work, and what are your thoughts?

Your notes here in markdown